html{
	scroll-behavior: smooth; 
	font-family: 'Noto Sans KR', sans-serif;

}
.lime > .abo{transition: all 0.5s linear; width:50%; height:100px; float:left; color:white; text-align: right;}
.lime > .abo2{width:50%; height:100px; ; margin-right:275px; color:white; text-align: left;}


.abo3 {margin-top:-710px; color:white; margin-left:150px; display:flex; justify-content: center;}
.abo h1 {font-size:32px; margin-right:50px;}
.abo2 h1 {font-size:32px;}
.topcontent{width:500px; height:500px; position: absolute; top:0; z-index: 40;}
.banner > video {position:absolute; object-fit: cover; width:100%; height:100%; overflow: hidden;}
.content {position: relative; z-index: 1; max-width: 1100px; margin:0 auto; text-align: center; height:290px;}
.content > h1 {margin:0; padding:0; font-size:4.5em;  text-transform: uppercase; color:white;}
.mainh1 > .rime{ color:black; width:100px; height:100px; margin-right:10px; }
.banner{width:100%; height:100%; }

#skila{display:flex; padding-top:200px; justify-content: center;}
#skilb{display:flex; padding-top:100px; justify-content: center;}
#cureer{position:absolute; top:7.5%; right:10%; }
.curbox1{width:200px; height:130px; border:solid 1px #2079ab; margin-top:30px;}

.about1{width:100%; height:850px; background-color: aliceblue;}
.about{display:flex; width:1200px; height:850px;  margin:0 auto; margin-top:30px; }
.aboutleft{width:25%; height:100%;  }
.photobox{width:100%; height:40%; background-color: #8d9e78; text-align: center; }
.photo{width:150px; height:150px; margin:0 auto; border-radius: 50%; background-color: black; position: relative; top:10%;  }
.photobox h1 {margin-top:45px;}

.name h1 {padding-top:30px; margin-top:0px; margin-left:10px; font-size:20px; }
.name p {font-size:15px; margin-left:10px;}

.photobox:after{top:378px;content:""; height:30px; width:300px; transform: skewY(-5deg); position: absolute; left:360px; background-color: #8d9e78;}

.name{width:100%; height:30%;}
.contact{width:100%; height:20%; }
.contact h1{margin-left:10px; font-size:20px; margin-top:0px;}
.contact ul li {font-size:15px; margin-left:10px; margin-top:15px;} 
.contact ul li i {margin-right:10px;}
.follow{width:100%; height:10%;}
.follow h1 {margin-top:0px; font-size:20px; margin-left:10px;}
.follow ul {float:left;}
.follow ul li {font-size:40px; float:left; margin-top:-8px; margin-right:30px; }
.aboutright{width:75%; height:100%; }
.aboutme{width:100%; height:40%;}

.aboutme p {margin-top:5px; margin-left:15px;}
.aboutme h1{margin-top:0px; padding-top:80px; margin-left:15px; }

.hobby{width:100%; height:30%; background-color: yellowgreen;}
.edu{width:100%; height:30%; background-color: violet;}


.lime{display:flex; margin-top:-750px;  width:1500px; height:130px; transition: all 0.5s linear; }
.mainh1{width:100%; height:100px; display:flex;}
.lorem {margin:0; padding:0;  color:white;}

.sidebar ul {margin-top:300px; text-align: center;}
.sidebar ul li {color:white; padding-top:40px;}

